.user-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  padding: 1rem;
}

.user-form label {
  display: block;
  font-weight: bold;
  /*margin-bottom: 0.5rem;*/
}

.user-form input {
  border: 1px solid #ccc;
  width: 100%;
}