.user-form {
  /*(display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;*/
  text-align: left;
  padding: 1rem;
  background: white;
  border-radius: 6px;
  margin: 0 auto;
}

.user-form label {
  display: block;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.user-form input {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  margin-bottom: 0.4rem;
  padding: 0.2rem;
}